.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // background-color: red;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(5, 6, 8, 0.534);
    border-radius: 8px;
    box-shadow: 0px 0px 10px -3px rgb(44, 44, 134);
    padding: 40px;
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__item-tid {
    color: rgb(240, 197, 133);
    font-weight: 500;
    font-size: 19px;
  }

  &__close {
    border: 1px solid rgb(73, 209, 73);
    padding: 3px 4px;
    border-radius: 5px;
    background-color: rgb(5, 161, 5);
    color: white;
    outline: none;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:active {
      background-color: rgb(11, 184, 11);
      opacity: 1;
    }
  }

  &__item-top {
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.9;
  }
  &__item-actbo {
    display: flex;
    gap: 7px;
    // background-color: red;
  }

  &__item-acbutts {
    padding: 5px 6px;
    border: 2px solid rgb(67, 67, 112);
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 8px;

    & svg {
      width: 17px;
      color: rgb(67, 67, 112);
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:active {
      background-color: rgb(67, 67, 112);
      opacity: 1;

      & svg {
        color: rgba(255, 255, 255, 0.801);
      }
    }
  }

  &__item-top-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-title {
    font-size: 19px;
    color: white;
    font-weight: 600;
    // color: rgb(199, 179, 141)
  }

  &__item-tpen {
    color: white;
    font-size: 16px;
    color: rgb(73, 184, 73);
    font-weight: 500;
  }

  &__item-main {
    font-size: 20px;
    color: white;
  }

  &__item-date {
    color: white;
  }

  &__item-bot {
    display: flex;
    justify-content: end;
  }
}
